{% extends "base.html" %}

{% block main %}

<h1>Profile</h1>
<hr/>

<img src="{{ url_for('static', filename='.jpg') }}">

<table>
    <tr>
        <td>{{ prof['fname'] }} {{ prof['lname'] }}</td>
    </tr>
    <tr>
        <td>Profile Created On: {{ prof['date'] }}</td>
    </tr>
    <tr>
        <td>
            <img src = "{{ prof['img'] }}" width="200px" height="200px">
        </td>
        <td>
            Username: {{ prof['user'] }} <br/>
            ID Number: {{ prof['id'] }}<br/>
            Age: {{ prof['age'] }}<br/>
            Gender: {{ prof['gen'] }}
        </td>
    </tr>
    <tr>
        <td>{{ prof['bio'] }}</td>
    </tr>
</table>

{% endblock %}

{% block css %}

<style type="text/css">
    img{
        float:left;
        padding-right:40px;
    }
    tr{
        padding:10px;
    }
</style>

{% endblock %}
